
@import "main.scss";


// --------------- INTRO ---------------

.intro {
    width: 60%;
    min-height: 100vh;
    text-align: center;
    margin: 0 auto;
    margin-top: 15vh;
    flex-direction: column;
    pointer-events: all;
    
    @media (max-width: $tablets) {
      width: 80%;
    }
  }