// --------------- GENERAL ---------------

// fonts
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&family=Roboto:wght@400;500;900&display=swap');


// variables

    // colors
    $white: #fff;
    $black: #000;
    // fonts
    $primary-font: 'Roboto', sans-serif;
    $secondary-font: 'Crimson Text', serif;
    // media queries breakpoints
    $mobile: 576px;
    $tablets: 768px;
    $laptop: 992px;
    $screen: 1200px;
    //gaps
    $big-gap: 4rem;
    $mid-gap: 2rem;
    $small-gap: 1rem;


// basic settings

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-size: 22px;
    background: $black;
    color: $white;
    font-family: $primary-font;

    @media (max-width: $tablets) {
        font-size: 12px!important;
    }
}

a {
    color: inherit;
}

h1 { 
    font-size: 2.6rem; 
    font-family: $secondary-font;
    margin-bottom: $big-gap;
    
    @media (max-width: $tablets) {
        font-size: 1.8rem!important;
    }
}
h2 { 
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: $big-gap;
    
    @media (max-width: $tablets) {
        font-size: 1.4rem!important;
    }
}
h3 { 
    font-size: 2.1rem;
}
h4 { 
    font-size: 1.8rem; 
}
h5 { 
    font-size: 1.6rem; 
}
h6 { 
    font-size: 1.4rem; 
}

span, p {
    line-height: 1.4rem;
    margin: 1.3rem 0;
    
    @media (max-width: $tablets) {
        line-height: 1rem!important;
    }
}

button.border {
    padding: 1rem 1.5rem;
    border: 1px solid;
    background: transparent;
    cursor: pointer;
    margin-top: 1rem;

    &.white {
        transition: background-color .5s ease, color .5s ease;
        color: $white;
        border-color: $white;
        
        &:hover {
            color: $black;
            background-color: $white;
        }
    }
}


// --------------- CONTAINERS---------------

// background
.container {
    background: url('../../images/background2.gif');
}

